.active,
.inactive:hover {
  color: #40bad5;
  background: rgba(64, 186, 213, 0.1);
  padding: 8px 8px;
  font-size: 1em;
  border-radius: 15px;
}

.inactive {
  padding: 8px;
  border-radius: 15px;
  font-size: 1em;
  color: white;
}

.start__walkthrough {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: none;
  text-align: center;
  border-radius: 10px;
  width: 160px;
  height: 40px;
  font-size: small;
  font-weight: bold;
  background-color: #8051ca;
  color: #fff;
  cursor: pointer;
}

.skip__walkthrough {
  background-color: transparent;
  border: none;
  background-image: none;
  color: #fff;
  font-size: small;
  cursor: pointer;
}
@media only screen and (min-width: 568px) {
  .active,
  .inactive,
  .inactive:hover {
    padding: 10px 20px;
  }
}
